<%- include("partials/header.ejs") %>

<div class="container-about">
<h1>About EntiVault</h1>
<p>Welcome to Entivault, your ultimate entertainment companion! 🎉</p>
<hr>
<h5>Our Story</h5>
<p>At Entivault, we believe that we should be able to Discover, track, and Boomark our entertainment.</p>
<hr>
<h5>What We Offer</h5>
<h6>Discover</h6>
<p>Dive into a treasure trove of entertainment like anime! Our curated collections make discovery a breeze.</p>
<h6>Keep Track</h6>
<p> Never lose track of what you’ve watched. Our watch history feature ensures you pick up right where you left off.</p>
<h6>Bookmark</h6>
<p>Mark you entertainment in any one of the categories like watching, completed, dropped etc</p>
<hr>
<h6>Join the Journey</h6>
<p>Ready to embark on an entertainment adventure? Sign up for Entivault today and unlock a world of joy, nostalgia, and endless entertainment. 🌟</p>
<a href="/users/login">Sign Up</a>
</div>

<%- include("partials/footer.ejs") %>
