<%- include("partials/header.ejs") %>

<div class="container">
  <!-- Contact Information -->
  <div class="contact-info">
    <div class="contact-info-item">
      <div class="contact-info-icon">
        <i class="fas fa-home"></i>
      </div>
      <div class="contact-info-content">
        <h4>Address</h4>
        <p>
          EntiVault<br />
          Mysuru, Karnataka<br />
          55060
        </p>
      </div>
    </div>
    <div class="contact-info-item">
      <div class="contact-info-icon">
        <i class="fas fa-phone"></i>
      </div>
      <div class="contact-info-content">
        <h4>Phone</h4>
        <p>9988776655</p>
      </div>
    </div>
    <div class="contact-info-item">
      <div class="contact-info-icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="contact-info-content">
        <h4>Email</h4>
        <p>santoshkumbar693@gmail.com</p>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>

<%- include("partials/footer.ejs") %>
