<%- include("partials/header.ejs") %>

 <div style="background-color: rgb(242, 236, 229);" class="container-home">
    <h1 style="padding-top: 12%;">Track anime anytime, anywhere</h1>
    <a href="/users/login">Get Started!</a>
</div><br>
    <%- include("partials/footer.ejs") %> 